{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    }
  },
  "rules": {
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "eqeqeq": "warn",
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "semi": ["error", "always"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
